django==4.2.3
channels-redis==4.0.0
django-autoslug==1.9.9
django-cors-headers==3.14.0
django-countries==7.6.1
django-environ==0.10.0
django-model-utils==5.0.0
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.28.0
mutagen==1.47.0
pillow==10.0.0
pip==25.0.1
pip-chill==1.0.3
pkg-resources==0.0.0
psycopg2-binary==2.9.6
python-dotenv==1.0.0
setuptools==44.0.0