django==4.2.3
audiosegment==0.23.0
boto3==1.37.38
channels-redis==4.0.0
daphne==4.1.2
django-autoslug==1.9.9
django-cleanup==9.0.0
django==4.2.3
audiosegment==0.23.0
boto3==1.37.38
channels-redis==4.0.0
daphne==4.1.2
django-autoslug==1.9.9
django-cleanup==9.0.0
django-cors-headers==3.14.0
django-countries==7.6.1
django-countries==7.6.1
django-environ==0.10.0
django-filter==24.3
django-model-utils==5.0.0
django-redis==5.4.0
django-storages==1.14.6
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.28.0
duckduckgo-search==7.2.1
mutagen==1.47.0
pillow==10.0.0
pip-chill==1.0.3
psycopg2-binary==2.9.6
pyopenssl==26.2.0
pysocks==1.7.1
selenium==4.27.1
service-identity==24.2.0
stripe==14.4.1
webdriver-manager==4.0.2
zope.interface==7.2
dj-database-url==0.5.0
whitenoise==6.7.0